<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onAddPost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        class="post-input"
        placeholder="Title"
        matInput type="text"
        formControlName="title"
      />
      <mat-error *ngIf="form.get('title').invalid">Invalid entry for title.</mat-error>
      <!-- <input class="post-input" matInput type="text" [(ngModel)]="enteredTitle" /> -->
    </mat-form-field>
    <mat-form-field>
      <textarea
        class="post-input"
        matInput rows='6'
        formControlName="content">
      </textarea>
      <mat-error *ngIf="form.get('content').invalid">Invalid content.</mat-error>
    </mat-form-field>
    <button color='primary' mat-raised-button type="button" (click)="imagePicker.click()">Add Image</button>
    <input type="file" #imagePicker (change)="onImagePicked($event)"/>
    <button color='primary' mat-raised-button type="submit">Save Post</button>
    <p class="form-status" *ngIf="imageSelected">Image Added</p>
    <!-- <button color='primary' mat-raised-button (click)="onAddPost()">Save Post</button> -->
  </form>
</mat-card>
